html {
  font-family: 'Jost', sans-serif !important;
}

nav.navBar {
  background-color: black;
}

.brand-logo {
  left: 24px;
  color: yellow !important;
  width: 100%;
}

.brand-logo img {
  width: 48px;
  height: 48px;
  margin: 8px 0;
  margin-right: 24px;
}

label {
  left: 0 !important;
}

form.predictionForm table tr td:nth-child(1) {
  border-right: 0.5px rgba(0, 0, 0, 0.2) solid;
  padding-right: 20px !important;
}

form.predictionForm table tr td:nth-child(2) {
  border-left: 0.5px rgba(0, 0, 0, 0.2) solid;
  padding-left: 20px !important;
}

form.predictionForm table tr {
  border-bottom: 0 !important;
}

.btn {
  background-color: black;
  color: yellow;
}

.btn:hover {
  background-color: #333;
}