{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Football Match Predictor</title>

        <!-- Compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static "web/index.css" %}"/>
    </head>
    <body onload="init()">
        <nav class="navBar">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo valign-wrapper">
                    <img class="left v-align" src="{% static "web/soccer-gear.png" %}" />
                    Football Match Predictor
                </a>
            </div>
        </nav>

        <div class="container section">
            <div class="card center">
                <form class="card-content predictionForm" action="">
                    <table>
                        <tr>
                            <td>
                                <div class="input-field col s12">
                                    <select required class="validate">
                                        <option value="" disabled selected>Select Home Team</option>
                                        {% for team, index in home_teams.items %}
                                        <option value="{{ index }}">{{ team }}</option>
                                        {% endfor %}
                                    </select>
                                    <label>Home Team</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field col s12">
                                    <select required>
                                        <option value="" disabled selected>Select Away Team</option>
                                        {% for team, index in away_teams.items %}
                                        <option value="{{ index }}">{{ team }}</option>
                                        {% endfor %}
                                    </select>
                                    <label>Away Team</label>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <br/>

                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>

        <!-- Scripts -->

        <script
            src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
            crossorigin="anonymous"
        ></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script>
            function init() {
                M.AutoInit();
            }
        </script>
    </body>
</html>
