{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Football Match Predictor</title>

        <!-- Compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="{% static "web/index.css" %}"/>
    </head>
    <body onload="init()">
        <nav class="navBar">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo valign-wrapper">
                    <img class="left v-align" src="{% static "web/soccer-gear.png" %}" /> Football
                    Match Predictor
                </a>
            </div>
        </nav>

        <div class="container section">
            <div class="card center">
                <div class="card-image">
                    <img style="background-size: cover; background-position: center;
                    background-image: url({% static "web/flat-card-image.jpg" %});" height="200px"
                    />
                    <span class="card-title">Select Half-Time Stats</span>
                </div>
                <form class="card-content predictionForm" action="">
                    <table>
                        <tr>
                            <td>
                                <div class="input-field col s12">
                                    <select id="homeTeam" required>
                                        <option value="" disabled selected>Select Home Team</option>
                                        {% for team, index in home_teams.items %}
                                        <option value="{{ index }}">{{ team }}</option>
                                        {% endfor %}
                                    </select>
                                    <label>Home Team</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field col s12">
                                    <select id="awayTeam" required>
                                        <option value="" disabled selected>Select Away Team</option>
                                        {% for team, index in away_teams.items %}
                                        <option value="{{ index }}">{{ team }}</option>
                                        {% endfor %}
                                    </select>
                                    <label>Away Team</label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="input-field col s12">
                                    <input
                                        id="homeShots"
                                        type="number"
                                        class="validate"
                                        value="0"
                                    />
                                    <label for="homeShots">Shots</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field col s12">
                                    <input
                                        id="awayShots"
                                        type="number"
                                        class="validate"
                                        value="0"
                                    />
                                    <label for="awayShots">Shots</label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="input-field col s12">
                                    <input
                                        id="homeShotsOnTarget"
                                        type="number"
                                        class="validate"
                                        value="0"
                                    />
                                    <label for="homeShotsOnTarget">Shots on target</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field col s12">
                                    <input
                                        id="awayShotsOnTarget"
                                        type="number"
                                        class="validate"
                                        value="0"
                                    />
                                    <label for="awayShotsOnTarget">Shots on target</label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="input-field col s12">
                                    <input
                                        id="homeRedCards"
                                        type="number"
                                        class="validate"
                                        value="0"
                                    />
                                    <label for="homeRedCards">Red Cards</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field col s12">
                                    <input
                                        id="awayRedCards"
                                        type="number"
                                        class="validate"
                                        value="0"
                                    />
                                    <label for="awayRedCards">Red Cards</label>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <br />

                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Predict Result
                        <i class="material-icons right">send</i>
                    </button>

                    <div class="row" style="height: 80px; display: block">
                        <br />
                        <br />

                        <div id="homeWinProbability" class="col blue prob-container" style="width: 33.3%;">
                            <span class="prob-title">Home Win</span>
                            <br/>
                            <span class="prob-value">33.3%</span>
                        </div>
                        <div id="drawProbability" class="col green prob-container" style="width: 33.3%;">
                            <span class="prob-title">Draw</span>
                            <br/>
                            <span class="prob-value">33.3%</span>
                        </div>
                        <div id="awayWinProbability" class="col red prob-container" style="width: 33.3%;">
                            <span class="prob-title">Away Win</span>
                            <br/>
                            <span class="prob-value">33.3%</span>
                        </div>
                    </div>

                    <br/>

                </form>
            </div>
        </div>

        <center>
            <a
                style="text-decoration: underline;"
                href="https://github.com/AzeeSoft/football-match-predictor"
                target="blank"
            >
                View Source on GitHub</a
            >
        </center>

        <!-- Scripts -->

        <script
            src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
            crossorigin="anonymous"
        ></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script>
            function init() {
                M.AutoInit();
            }
        </script>
    </body>
</html>
